---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureHero from "../components/FeatureHero.astro";
import IconBenefits from "../components/IconBenefits.astro";
import HowItWorks from "../components/HowItWorks.astro";
import ServiceGrid from "../components/ServiceGrid.astro";
import ServiceArea from "../components/ServiceArea.astro";
import MeetMou from "../components/MeetMou.astro";
import SecondaryCTA from "../components/SecondaryCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <FeatureHero />
    <IconBenefits />
    <HowItWorks />
    <ServiceGrid />
    <ServiceArea />
    <MeetMou />
    <SecondaryCTA />
  </main>
  <Footer />
</Layout>
